.nav-container {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    padding-top: 60px;
    /*background-color: #737373;*/
    background-color: #222222;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.nav-header{
    position: absolute;
    top: 0px;
    height: 60px;
    background-color: #222222;
}

.nav-container-closed {
    transform: translate(200px, 0);
}

.nav-container div {
    width: 100%;
    text-align: right;
}

.nav-container div a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.nav-button {
    /*background-color: #222222;*/
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 15;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.nav-button span, .nav-button-text {
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    top: 15px;
    right: -400px;
    color: #ffffff;
    z-index: 20;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.nav-button-text-transformed {
    transform: translate(-440px, 0px) !important;
    color: #ffffff !important;

}

.nav-button div {
    cursor: pointer;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #000000;
    margin: 2px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.nav-button-transformed {
    transform: translate(-140px, 0px);
}

.nav-button-top-transformed {
    transform: translate(5px, 0px) rotate(45deg);
    background-color: #ffffff !important;
}

.nav-button-mid-transformed {
    background-color: #ffffff !important;

}

.nav-button-bot-transformed {
    transform: translate(5px, 0px) rotate(-45deg);
    background-color: #ffffff !important;

}